<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
   
</head>
<body>
    <!-- Header with Medi&co aligned left and contactus aligned right -->
    <div class="header">
        <h2 class="medi-co">Medi&co</h2>
        <h2 class="contact-info">Contact Us: 9234568xxx</h2>
      
    </div>
    <hr>
    <div class="container">
        <div class="img">
            <img src="https://res.cloudinary.com/dkbqkkk00/image/upload/c_fill,w_500,h_500,ar_1:1/v1711007323/logo_yvklmw.png" alt="Image">
        </div>
        <table class="login-table">
            <tr>
                <td>
                    <div class="login-container">
                        <form (ngSubmit)="login()">
                            <h2>Login</h2>
                            <table>
                                <tr>
                                    <td><label for="username">Username:</label></td>
                                    <td><input type="text" id="username" [(ngModel)]="username" name="username" required></td>
                                </tr>
                                <tr>
                                    <td><label for="password">Password:</label></td>
                                    <td><input type="password" id="password" [(ngModel)]="password" name="password" required></td>
                                </tr>
                                <tr>
                                    <td><label for="email">Email:</label></td>
                                    <td><input type="email" id="email" [(ngModel)]="email" name="email" required></td>
                                </tr>
                            </table>
                            <button type="submit">Login</button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
