body {
  background-color: #880ED4;
  margin: 0; /* Remove default margin */
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.medi-co {
  margin: 0;
  color: #fff;
}

.contact-info {
  margin: 0;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  margin-top: 1px;

}

.img {
  width: 500px; /* Adjust image width */
  height: auto; /* Maintain aspect ratio */
  margin-top: 5px;
}

.login-table {
  background-color: #B793F0;
  width: 300px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  text-align: center; /* Align text in center */
}

.login-container {
  max-width: 200px; /* Adjust the max-width as needed */
  margin: 50px 30px; /* Center the login container horizontally and add top margin */
  padding: 50px;/* Add padding for spacing */
  
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  display: inline-block; /* Display labels as inline blocks */
  width: 80px; /* Adjust label width as needed */
  text-align: right; /* Align label text to the right */
}

input {
  margin-bottom: 10px;
  padding: 5px; /* Adjust padding as needed */
  width: 100px; /* Adjust width as needed */
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 50%; /* Make button width 50% of its container */
  margin: auto; /* Center-align the button */
}

button:hover {
  background-color: #0056b3;
}

.contact-info {
  text-align: right;
  color: #fff; /* Align text to the right */
}
